/* HEADER */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #ddadff;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}


/* Employee FILTER */
.filter-data {
    text-align: center;
    background-color: #ddadff;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.input-box {
    margin-bottom: 40px;
}


/* Employee TABLE */




/* FOOTER */
.footer {
    background-color: #ddadff;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}